@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish:wght@700&display=swap");
@font-face {
  font-family: normal;
  src: url(../fonts/SimplyssSans-Book.ttf);
}
@font-face {
  font-family: bold;
  src: url(../fonts/SimplyssSans-Book.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  font-family: "normal", sans-serif;
  background-color: #347cff;
}
.navbar .navbar-brand span {
  color: #ec1b5e;
  margin-left: 5px;
  box-shadow: 1px solid black;
}
.navbar .nav-item a {
  font-size: 27px;
  color: #fff;
}
.navbar .nav-item a:hover {
  color: #ff6200;
}
.navbar .nav-item a:focus {
  color: #ff6200;
}
.navbar .navbar-toggler {
  background-color: #f3f3f3;
  border-color: #347cff;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-color: #f3f3f3;
}
.navbar .barra {
  align-items: center;
  justify-content: end;
  margin-right: 20px;
}

body {
  background-color: #ffffff;
  background-color: #f0f2fa;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.jumbo-tron {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Fondo\ de\ banner\ 2.png);
  background-size: cover;
  background-position: center;
}
.jumbo-tron .container-text {
  max-width: 100%;
  width: 60%;
  padding-left: 100px;
  padding-bottom: 100px;
  font-family: "bold", sans-serif;
}
.jumbo-tron .container-text p {
  font-size: 20px;
}
.jumbo-tron .container-text span {
  font-size: 60px;
  font-weight: bold;
}

.nosotros .title-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nosotros .title-nosotros img {
  height: 250px;
}
.nosotros .container-row {
  padding-top: 80px;
}
.nosotros .container-row .item-row {
  justify-content: center;
  display: flex;
  align-items: baseline;
  margin: 0 auto;
  height: 700px;
  border-radius: 10px;
}
.nosotros .container-row .no-container .title-row {
  font-family: "bold", sans-serif;
  height: 100px;
  text-align: center;
  font-size: 55px;
  color: #347cff;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.nosotros .container-row .no-container .img-row {
  height: 200px;
  max-width: 70%;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nosotros .container-row .no-container .content-row {
  height: 300px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "normal", sans-serif;
}

.title-service {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-service img {
  height: 250px;
}

.servicios {
  margin-top: 10px;
  height: 110vh;
  display: flex;
  flex-direction: column;
}
.servicios .row {
  padding-top: 40px;
}
.servicios .row .galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.servicios .row .gal-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.servicios .row .second-row {
  padding-top: 2%;
}
.servicios .row .cardio {
  position: relative;
  width: 800px;
  height: 500px;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/2ccac9a0-9dc8-4535-ae5f-0d883b1d0c32.jfif");
  background-size: cover;
  background-position: center;
  transition: transform 0.5s, box-shadow 0.5s; /* Añadir transición de sombra */
  cursor: pointer; /* Cambia el cursor al pasar sobre la card */
  z-index: 1; /* Asegura que la card esté sobre otros elementos si es necesario */
  border: 10px solid #ED5D01;
}
.servicios .row .cardio .overlay-image {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 130px; /* Ajusta la altura según sea necesario */
  z-index: 2; /* Coloca la imagen encima del fondo de la card */
  opacity: 0.7;
}
.servicios .row .cardio:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Opcional: añade sombra para más profundidad */
}
.servicios .row .overlay {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: #ff6200; /* Color del fondo emergente */
  color: #fff; /* Color del texto emergente */
  text-align: center;
  padding: 10px;
  transition: bottom 0.5s, transform 0.5s; /* Añadir transición para transformación */
  z-index: 2; /* Hace que el overlay esté encima de la card */
}
.servicios .row .overlay span {
  font-size: 40px;
}
.servicios .row .overlay p {
  font-size: 28px;
}
.servicios .row .cardio:hover .overlay {
  bottom: 0;
  transform: translateY(0px); /* Mueve el overlay hacia arriba junto con la card */
}
.servicios .row .cardio:hover .overlay p {
  opacity: 1; /* Hace que el texto sea visible al hacer hover */
}
.servicios .row .card-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/zaa.jpg");
  background-size: cover;
  background-position: center;
}

.main-contacto {
  font-family: "normal", sans-serif;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgb(0, 26, 65);
}
.main-contacto .container-contacto {
  padding: 20px;
  gap: 10px;
  width: 1800px;
}
.main-contacto .container-contacto .box-info {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-contacto .container-contacto .box-info h1 {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
.main-contacto .container-contacto .box-info h3 {
  font-size: 25px;
  text-align: center;
  color: rgba(221, 221, 221, 0.74);
}
.main-contacto .container-contacto form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.main-contacto .container-contacto form .btn-form {
  width: 54%;
  margin: 0 auto;
  background-color: #ff6200 !important;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 10px;
  margin-top: 30px;
  border-radius: 40px;
  height: 80px;
}
.main-contacto .container-contacto form .btn-form:hover {
  background-color: #ff3c00 !important;
}
.main-contacto .container-contacto form .input-box {
  position: relative;
  display: flex;
  flex-direction: column;
}
.main-contacto .container-contacto form .input-box i {
  color: rgba(255, 94, 0, 0.534);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25%;
  font-size: 50px;
}
.main-contacto .container-contacto form .input-box input {
  font-size: 20px;
  margin: 0 auto;
  width: 54%;
  height: 94px;
  padding: 0 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent !important;
  letter-spacing: 1px;
  transition: 0.3s;
  color: #fff;
  border-radius: 40px;
  text-indent: 10%;
  font-size: 30px;
}
.main-contacto .container-contacto form .input-box input::-moz-placeholder {
  left: 10%;
}
.main-contacto .container-contacto form .input-box input::placeholder {
  left: 10%;
}
.main-contacto .container-contacto form .input-box input:focus {
  border-bottom: 4px solid #ff6200 !important;
}
.main-contacto .container-contacto form .input-box input:focus ~ i {
  color: #ff6200;
}
.main-contacto .container-contacto form .input-box input:focus::-moz-placeholder {
  color: transparent;
}
.main-contacto .container-contacto form .input-box input:focus::placeholder {
  color: transparent;
}
.main-contacto .container-contacto form .input-box textarea {
  font-size: 25px;
  margin: 0 auto;
  width: 54%;
  height: 130px;
  border: none;
  letter-spacing: 1px;
  transition: 0.3s;
  color: #ffffff;
  padding: 10px;
  background-color: #001A41;
  border-bottom: 3px solid #ff6200;
  font-size: 30px;
}
.main-contacto .container-contacto form .input-box textarea:focus {
  border-bottom: 3px solid #ff6200 !important;
  animation: shake 0.2s;
}
.main-contacto .container-contacto form .input-box textarea::-moz-placeholder {
  position: absolute;
  top: 50%;
}
.main-contacto .container-contacto form .input-box textarea::placeholder {
  position: absolute;
  top: 50%;
}
.main-contacto .container-contacto form .input-box textarea:focus::-moz-placeholder {
  color: transparent;
}
.main-contacto .container-contacto form .input-box textarea:focus::placeholder {
  color: transparent;
}
.main-contacto .links a:hover {
  background-color: #3f8300 !important;
}

@media screen and (max-width: 1867px) {
  .nosotros .container-row .no-container .title-row {
    font-size: 50px;
  }
  .nosotros .container-row .no-container .img-row img {
    height: 250px;
  }
  .nosotros .container-row .no-container .content-row {
    font-size: 27px;
  }
}
@media screen and (max-width: 1700px) {
  .nosotros .container-row .no-container .content-row {
    font-size: 25px;
  }
  .servicios .row .overlay p {
    font-size: 20px;
  }
  .servicios .row .cardio {
    width: 650px;
    height: 400px;
  }
}
@media screen and (max-width: 1570px) {
  .nosotros .container-row .no-container .content-row {
    font-size: 22px;
  }
  .nosotros .container-row .img-row img {
    height: 220px;
  }
}
@media screen and (min-width: 1500px) {
  .jumbo-tron .container-text span {
    font-size: 100px;
  }
  .jumbo-tron .container-text p {
    font-size: 30px;
  }
}
@media screen and (max-width: 1500px) {
  .servicios {
    height: 100vh;
  }
  .servicios .row .cardio {
    width: 550px;
    height: 350px;
  }
}
@media screen and (max-width: 1400px) {
  .nosotros .title-nosotros img {
    height: 200px;
  }
  .nosotros .container-row .no-container .title-row {
    font-size: 40px;
  }
  .nosotros .container-row .no-container .img-row {
    height: 200px;
  }
  .nosotros .container-row .no-container .img-row img {
    height: 200px;
  }
  .nosotros .container-row .no-container .content-row {
    font-size: 18px;
  }
  .main-contacto .container-contacto form .input-box i {
    font-size: 35px;
  }
  .main-contacto .container-contacto form .input-box input {
    font-size: 22px;
  }
  .main-contacto .container-contacto form .input-box textarea {
    font-size: 22px;
  }
}
@media screen and (max-width: 1200px) {
  .main-contacto .container-contacto form .input-box i {
    left: 15%;
  }
  .main-contacto .container-contacto form .input-box input {
    width: 75%;
  }
  .main-contacto .container-contacto form .input-box input::-moz-placeholder {
    left: 3% !important;
  }
  .main-contacto .container-contacto form .input-box input::placeholder {
    left: 3% !important;
  }
  .main-contacto .container-contacto form .input-box textarea {
    width: 75%;
  }
}
@media screen and (max-width: 1160px) {
  .navbar .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .navbar .navbar-toggler {
    border: none !important;
    background-color: #347cff;
  }
  .navbar i {
    font-size: 55px;
    color: #ff6200;
  }
  .navbar .nav-item a {
    font-size: 20px;
  }
  .servicios {
    height: 85vh;
  }
  .servicios .row .overlay p {
    font-size: 17px;
  }
  .servicios .row .overlay span {
    font-size: 30px;
  }
  .servicios .row .cardio {
    width: 500px;
    height: 300px;
  }
}
@media screen and (max-width: 1050px) {
  .servicios {
    height: 75vh;
  }
  .servicios .row .overlay p {
    font-size: 15px;
  }
  .servicios .row .overlay span {
    font-size: 24px;
  }
  .servicios .row .cardio {
    width: 450px;
    height: 250px;
  }
}
@media screen and (max-width: 992px) {
  .jumbo-tron .container-text {
    width: 80%;
    padding-left: 29px;
  }
  .nosotros .title-nosotros img {
    height: 180px;
  }
  .nosotros .container-row {
    padding-top: 20px;
  }
  .nosotros .container-row .item-row {
    height: 600px;
  }
  .nosotros .container-row .item-row .content-row {
    height: 130px;
    width: 60%;
    margin: 0 auto;
    font-size: 25px;
  }
  .nosotros .container-row .item-row .img-row img {
    height: 280px;
  }
  .nosotros .container-row .item-row .title-row {
    font-size: 55px;
  }
  .servicios {
    height: 160vh;
  }
  .servicios .row {
    padding-top: 10px;
  }
  .servicios .row .overlay p {
    font-size: 18px;
  }
  .servicios .row .overlay span {
    font-size: 34px;
  }
  .servicios .row .cardio {
    width: 72%;
    height: 300px;
  }
  .servicios .row .second-row {
    padding-top: 0%;
  }
  .servicios .row .galeria {
    align-items: center;
    padding-top: 3%;
  }
  .servicios .row .gal-2 {
    align-items: center;
    padding-top: 3%;
  }
  .main-contacto .container-contacto .box-info h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .jumbo-tron .container-text {
    width: 95%;
  }
  .nosotros .title-nosotros img {
    height: 140px;
  }
  .nosotros .container-row {
    padding-top: 20px;
  }
  .nosotros .container-row .item-row {
    height: 600px;
  }
  .nosotros .container-row .item-row .content-row {
    height: 130px;
    width: 80%;
    margin: 0 auto;
    font-size: 22px;
  }
  .nosotros .container-row .item-row .img-row img {
    height: 260px;
  }
  .nosotros .container-row .item-row .title-row {
    font-size: 45px;
  }
  .main-contacto .container-contacto .box-info h1 {
    font-size: 44px;
  }
  .main-contacto .container-contacto .box-info h3 {
    font-size: 18px;
  }
  .main-contacto .container-contacto form .btn-form {
    width: 90%;
    height: 67px;
  }
  .main-contacto .container-contacto form .input-box i {
    font-size: 31px;
    left: 8%;
  }
  .main-contacto .container-contacto form .input-box input {
    font-size: 19px;
    height: 75px;
    width: 90%;
  }
  .main-contacto .container-contacto form .input-box textarea {
    font-size: 19px;
    width: 90%;
  }
}
@media screen and (max-width: 665px) {
  .servicios .row .overlay {
    padding: 0;
  }
  .servicios .row .overlay p {
    font-size: 16px;
  }
  .servicios .row .overlay span {
    font-size: 30px;
  }
}
@media screen and (max-width: 643px) {
  .nosotros .container-row .no-container .content-row {
    height: 200px;
  }
}
@media screen and (max-width: 600px) {
  .servicios .row .cardio {
    width: 90%;
    height: 300px;
  }
}
@media screen and (max-width: 576px) {
  .jumbo-tron .container-text {
    display: flex;
    flex-direction: column;
    inline-size: 90vh;
    width: 100%;
    align-items: center; /* Alinea verticalmente en el centro */
    float: left;
  }
  .jumbo-tron .container-text span {
    font-size: 44px;
  }
  .jumbo-tron .container-text p {
    font-size: 17px;
  }
  .main-contacto .container-contacto .box-info h1 {
    font-size: 31px;
  }
  .main-contacto .container-contacto .box-info h3 {
    font-size: 15px;
  }
  .main-contacto .container-contacto form .btn-form {
    width: 90%;
    height: 54px;
    font-size: 1.2rem;
  }
  .main-contacto .container-contacto form .input-box i {
    font-size: 27px;
  }
  .main-contacto .container-contacto form .input-box input {
    font-size: 17px;
  }
  .main-contacto .container-contacto form .input-box textarea {
    font-size: 17px;
  }
}
@media screen and (max-width: 500px) {
  .title-service img {
    height: 90px;
  }
  .nosotros .title-nosotros img {
    height: 100px;
  }
  .nosotros .container-row .item-row {
    height: 600px;
  }
  .nosotros .container-row .item-row .content-row {
    height: 130px;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
  }
  .nosotros .container-row .item-row .img-row img {
    height: 232px;
  }
  .nosotros .container-row .item-row .title-row {
    font-size: 34px;
    height: 30px;
  }
}
@media screen and (max-width: 400px) {
  .navbar .navbar-brand img {
    display: none;
  }
  .jumbo-tron .container-text span {
    font-size: 37px;
  }
  .jumbo-tron .container-text p {
    font-size: 16px;
  }
  .nosotros .title-nosotros img {
    height: 84px;
  }
  .nosotros .container-row .item-row {
    height: 500px;
  }
  .nosotros .container-row .item-row .content-row {
    height: 130px;
    width: 80%;
    margin: 0 auto;
    font-size: 17px;
  }
  .nosotros .container-row .item-row .img-row {
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .nosotros .container-row .item-row .img-row img {
    height: 185px;
  }
  .nosotros .container-row .item-row .title-row {
    font-size: 28px;
    height: 0px;
  }
  .title-service img {
    height: 80px;
  }
  .servicios .row .overlay p {
    font-size: 15px;
  }
  .servicios .row .overlay span {
    font-size: 25px;
  }
  .servicios .row .cardio {
    width: 95%;
    height: 320px;
  }
  .main-contacto .container-contacto .box-info h1 {
    font-size: 25px;
  }
  .main-contacto .container-contacto .box-info h3 {
    font-size: 13px;
  }
  .main-contacto .container-contacto form .btn-form {
    width: 95%;
    height: 54px;
    font-size: 1.1rem;
  }
  .main-contacto .container-contacto form .input-box i {
    font-size: 21px;
    left: 6%;
  }
  .main-contacto .container-contacto form .input-box input {
    font-size: 15px;
    width: 95%;
    height: 61px;
  }
  .main-contacto .container-contacto form .input-box textarea {
    font-size: 15px;
    width: 95%;
  }
}/*# sourceMappingURL=style.css.map */